
/* Contact */

/* background fixe(parallax) */
.parallax {
    /* image utilisée */
    background-image: url(../images/muscu3.jpg);
  
    /* hauteur */
    height: 100%; 
  
    /* créer l'effet de scroll avec backrground fixe */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* photo d'accueil page contact */
.imgcontact{
    width:50%;
}

/* card */
.card{
    border: 5px solid white;
    border-radius: 50px;
}
.imgCard{
    width:auto;
    height:250px;
    margin-left:15px;
}

/* reséaux sociaux */
.socio{
    font-size: 6em;
}

/* image carte */
.mapG{
    width:600px;
    height: 350px;
}
@media screen and (max-width: 480px)
{
    .mapG{
        width:400px;
        height: 250px;
    } 
    .imgCard{
        width: 382px;
        height:250px;
        
    }
}
